<nav class="navbar navbar-light bg-light" style="padding: 30px;margin: 40px; justify-content:center">
  <span class="navbar-brand mb-0 h1">Angular Examples</span>
</nav>

<!--? Student One -->
<app-students-details [students]="student1">
  <h5 #color>Student Name: {{students[0].Name}}</h5>
  <h5>Student Address: {{students[0].Address}}</h5>
</app-students-details>

<app-students-details [students]="[students[1]]">
  <h5  #color>Student Name: {{students[1].Name}}</h5>
  <h5>Student Address: {{students[1].Address}}</h5>
</app-students-details>

<app-students-details [students]="[students[2]]">
  <h5 #color>Student Name: {{students[2].Name}}</h5>
  <h5>Student Address: {{students[2].Address}}</h5>
</app-students-details>

